[Information]
latest_uploaded =

[Drive]
client_secret_file =
application_name =
share_with =
shared_folder =

[Application]
search_directory =
image_name_starting_number = 
txt_name_starting_number = 
date_directory = False
interval = 30
n_last_images = 5
n_last_txts = 5

[Pins]
LFM_PWM_PIN = 13
LBM_PWM_PIN = 19
RFM_PWM_PIN = 12
RBM_PWM_PIN = 18
LFM_DIR_PIN = 11
LBM_DIR_PIN = 15
RFM_DIR_PIN = 16
RBM_DIR_PIN = 22
FRQ = 100
strodLength = 150
FULLSTEPLENGTH = 20
stepperDir = 26
stepperStep = 24
THERESHOLD_TEMPERATURE = 40
ALARM_PIN = 36